.enjoy {
  padding: 128px 0 80px;
  background: #ffdad5;
  &__row{
    display: flex;
    align-items: center;
  }
  &__left{
    width: 50%;
    &-y{
      display: flex;
      align-items: center;
      &-span{
         color: var(--gray-900, #1E212C);
         font-size: 14px;
         font-weight: 700;
       }
    }
    &-title{
      color: var(--gray-900, #1E212C);
       font-size: 64px;
      font-weight: 900;
      line-height: 130%; /* 83.2px */
      letter-spacing: 1px;
      margin: 21px 0 60px;
    }
    &-btns{
      display: flex;
      column-gap: 24px;
    }
    &-btn{
      color: #FF3F3A;
      padding: 13px 40px;
      background: transparent;
      border-radius: 4px;
      border: 1px solid var(--btn-gradient, #FF3F3A);
      font-size: 16px;
      font-weight: 700;
      }
  }
  &__right{
    width: 50%;
    img{
      width: 100%;
    }
  }
  &__bottom{
    margin-top: 189px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-card{
      display: flex;
      align-items: center;
      column-gap: 12px;
    }
    &-title{
      color: var(--gray-900, #1E212C);
       font-size: 46px;
      font-style: normal;
      font-weight: 900;
     }
    &-text{
      color: var(--gray-900, #1E212C);
       font-size: 16px;
       font-weight: 400;
      padding: 40px;
     }
  }
}

@media (max-width: 992px) {
  .header__links, .header__right{
    display: none;
  }
  .header__burgerMenu{
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background: #FFF;
    padding: 20px 0;
    top: -100%;
    left: 0;
    transform: translateY(-100%);
    border-radius: 0 0 20px 20px;

    &.active{
      top: 0;
      transform: translateY(0%);


    }
  }
  .header__burger {
    display: flex;
  }
}
@media (max-width: 992px) {
  .enjoy__left-title{
    font-size: 50px;
  }

}
@media (max-width: 768px){
.enjoy__right{
  display: none;
}
  .enjoy__left{
    width: 100%;
    text-align: center;
    &-y{
      justify-content: center
    }
    &-btns{
      justify-content: center;
    }
  }
  .enjoy__bottom{
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    margin-top: 110px;
    &-card{
      width: 50%;
      justify-content: center;
    }
  }
}
@media (max-width: 500px) {
  .enjoy{
    padding: 60px 0 80px;
  }
}
